@use './base/reset.scss' as *;
@use './base/typography.scss' as *;
@use './utils/variables.scss' as *;
@use './utils/mixins.scss' as *;

body {
  background-image: $primary-gradient;
  font-family: $font-stack;
  color: $primary-color;
  font-size: $font-size;
  line-height: $line-height;
  overflow: hidden;
}

#root {
  position: relative;
  @include flex-center;
  flex-direction: column;
  max-height: 100vh;
  max-width: 1920px;
  margin-inline: auto;
  overflow: hidden;
}

h1 {
  letter-spacing: 1.7px;
  font-size: 48px;
  font-weight: bold;
  line-height: 120%;
}

h2 {
  font-size: 2.571em;
  font-weight: bold;
}

h3 {
  font-size: 24px;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 24px;
    letter-spacing: 1px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 24px;
  }
}
