$primary-color: #ffffff;
$secondary-color: #ffde00;
$accent-color: #ff885e;
$light-color: #c9c3f3;
$font-stack: 'open-sans', sans-serif;
$font-size: 14px;
$line-height: 120%;
$primary-gradient: linear-gradient(to right, #8159c6 0%, #6c7cff 100%);
$secondary-gradient: linear-gradient(to right, #ff9d66 0%, #ff7256 100%);
